body {background-color: #f8f5f5;
font-family: Roboto, sans-serif;
font-weight: 300;
font-size: 16px;
color: #555;
}
#header{
    font-size: 40px;
    font-weight: 600;
    padding-left: 13px;
    color: royalblue;
}
.nav-link{
    font-size: 20px;
    color: royalblue;
}

h1, h2, h3, h4 {
color: #333;
}
h1{font-size: 40px;}

h3{
    color:#95a5a6;
    font-weight: 400;
}
h4{
    color: #95a5a6;
    font-weight: 400;
    font-size: 20px;
}
p{
    line-height:28px;
    margin-bottom: 25px;
    font-size: 16px;
}
.centered{ text-align: center;}

.img-circle{border-style: solid;
border-width: 4px;
border-color: rgb(8, 85, 158);
border-radius: 50%;}

#headerwrap {background:url(/img/frontend.png) no-repeat center;
            min-height: 650px;
            margin-top: 20px;    
}
#headerwrap h1 {
    background: rgba(54, 25, 25, .04);
    margin-top: 60px;
    padding-top: 0;
    margin-bottom: 15px;
    margin-left: 164px;
    color: rgb(37, 89, 231);
    letter-spacing: -3px;
    font-size: 60px;
    font-weight: 400;
}
#second-header{
    margin-top: 60px;
}
#contact{padding: 80px 0;}

.contact-form input, .contact-form textarea{
    padding: 10px 12px;
    border-radius: 10px;
    box-shadow: rgb(124, 128, 118);
    font-size: 14px;
    width: 100%;
    height: auto;
}
.contact-form .form-send{
    text-align: center;
}
.contact-form .form-send button {
    background: #f0ad4e;
    border-radius: 10px;
    padding: 12px 30px;
    color: #f8f5f5;
    transition: 0.4s;
}
.contact-form.form-send button:hover{
    background: #fabf6b;
}
#copyrights {background: #3498db;
            padding: 10px;
            text-align: center;
}
#copyrights p{
    margin-bottom: auto;
    color: #fff;
}